/* ==UserStyle==
@name           Google Classroom Black Theme
@version        1.1.2
@description    Night mode for https://classroom.google.com/
@author         Psykek/PrototypeChicken
@namespace      github.com/Psykek66/UserCSS
@homepageURL    https://github.com/Psykek66/UserCSS
@updateURL      https://raw.githubusercontent.com/Psykek66/UserCSS/master/GoogleClassroomBlack.user.css
==/UserStyle== */


/* ===== UPDATE LOG ======     
v1.1.0 
- Fixed buttons disappearing when clicking on them

v1.1.1
- Fixed some more white lines
- Fixed some invisible text
- Fixed a popup header that was still white

v1.1.2
- Changed color of white loading bar on comments
- Simplified class headers (very bottom of style, remove if you don't like)
- Changed color of white line between upcoming assignments
=====/UPDATE LOG ===== */

@-moz-document domain("classroom.google.com") {

/* Header */

.dxu4Dd > .QRiHXd {
    background-color: #030303;
    border-bottom: none;
}
.kvxTzd {
	color: #aaa;
}

/* Area behind header */

.nk6WKe {
    background-color: #030303;
    border: none;
}

/* Body on classes page */

.JwPp0e {
    background-color: #050505;
}

/* (previously) White line under header */

.dxu4Dd {
    border-bottom: 1px solid #101010;
}

/* Class card */

.JwPp0e .rZXyy {
    background-color: #000;
    border-color: #151515;
}

/* Class card mid */

.JwPp0e .TQYOZc {
    background-color: #000;
}

/* Class card bottom */

.JwPp0e .SZ0kZe {
    background-color: #000;
    border: 1px solid #151515;
}

/* Bottom left info tooltip */

.qjTEB .K0NPx {
    background-color: #000;
    color: #aaa;
}    

/* Bottom left info tooltip columns */


.qjTEB .oJeWuf {
    color: #aaa;
    border-right: #000;
}
.qjTEB .oJeWuf:hover {
    background-color: #101010;
}

/* Classes sidebar */

.OX4Vcb {
    background-color: #000;
}
.qs41qe .asQXV {
	color: #aaa;
}
.TajIHf {
	color: #aaa;
}
.vG1fDb .asQXV {
	color: #aaa;
}
.TMOcX .asQXV {
	color: #aaa;
}
.OX4Vcb div .cd29Sd .YVvGBb {
	color: #aaa;
}
.OX4Vcb > .cd29Sd .YVvGBb {
	color: #aaa;
}

/* Classes sidebar preset items */

.OX4Vcb > .cd29Sd:hover {
    background-color: #101010;
}

/* Classes sidebar under enrolled */

.vG1fDb .p1KYTc:hover {
    background-color: #101010;
}
.TMOcX:hover {
    background-color: #101010;
}
.OX4Vcb div .cd29Sd:hover {
    background-color: #101010;
}

/* Join class header */

.gKkZCe {
    background-color: #000;
    border-bottom: 1px solid #101010;
}

/* Join class body */

.d3Fkdd {
    background-color: #050505;
}

/* Join class signed in as... */

.najF6d {
    background-color: #000;
    border: 1px solid #101010;
}

/* ^ switch account button */

.TpQm9d .Fxmcue {
    color: #aaa;
}
.TpQm9d .Fxmcue:hover {
    color: #aaa;
    background-color: #202020;
}
.AeAAkf {
    background-color: #101010;
    border-color: #101010;
}
.AeAAkf:hover {
    background-color: #101010;
    border-color: #101010;
}

/* Join class class code area */

.NyxV9b {
    background-color: #000;
    border-color: #101010;
}

/* ^ input box */

input.poFWNe.zHQkBf {
    background-color: #101010;
    color: #aaa;
}

/* ===== class feed ===== */

/* upcoming */

.sxa9Pc {
	color: #bbb;
}
.d4Fe0d {
    background-color: #050505;
    border: 1px solid #101010;
}
.WMQb5e .nforOe {
    color: #aaa;
}

/* stream assignment */

.n4xnA {
    background-color: #050505;
    border-color: #101010;
}
.Aopndd.TIunU {
    background-color: #050505;
    border-color: #101010;
}
.s2g3Xd {
    border: 1px  solid #101010;
}

/* stream assignment text */

.obylVb {
    color: #aaa;
}
.obylVb a {
    color: #aaa;
}
.DkDwHe .asQXV {
	color: #aaa;
}
.QRiHXd .YVvGBb.asQXV {
	color: #aaa;
}

/* comment area */

.Q8U8uc .Gh0umc.CMmBPd {
    color: #aaa;
    border-top: 1px solid #101010 !important;
}
.tLDEHd .NjE5zd {
	color: #888;
}
.Q8U8uc .aHTZpf .asQXV {
	color: #bbb;
}

/* comment box */

.iJ6Xwe {
    border-color: #303030;
}
#\:3\.t {
    color: #aaa !important;
}
.Q8U8uc .x7VMf {
    color: #aaa !important;
}

/* View all classwork here */

.Aopndd.asQXV {
    background-color: #000;
    border: 1px solid #101010;
}

/* Header tabs */

.VHRSDf .UISY8d-Ysl7Fe:hover {
    background-color: #000;
}

/* Lines between each person on the people tab */

/*students*/
.njieAf, .PeKgHf, .KnNDJe {
    border-top: 1px solid #101010 !important;
}
/*teachers*/
.ycbm1d .gQZxn {
    border-top: 1px solid #101010 !important;
}

/* (previously) blue headers on people tab */

.Era2ub, .MwhM8b {
    border-bottom: none !important;
}
.Era2ub .XjYjO, .dRIMEd, .jg22B {
    color: #aaa !important;
}

/* stream preview link */

.cKrCw {
    background-color: #000;
    border: 1px solid #202020;
}
.Aopndd {
    background-color: #000;
    border: 1px solid #202020;
}
.bKJwEd {
	color: #aaa;
}

/* Classwork tab assignments */

.jWCzBe:hover {
    background-color: #080808 !important;
    border-top: 1px solid #101010;
}
.SFCE1b {
    background-color: #060606;
}
.zvbGS {
    border-color: #101010 !important;
    background-color: #101010;
}
.AZd1I {
    border-color: #101010 !important;
}
.ZoT1D:hover {
    background-color: #101010;
    border-bottom: 1px solid #555 !important;
    border-radius: 0px;
}
.UzbjTd {
	color: #aaa !important;
}

/* Due date */ 

.T3FW5d.YVvGBb {
   color: #aaa; 
}

/* Classwork tab filter tabs */

.zFfAHb {
    color: #666 !important;
    border: 1px solid #101010;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #000;
}
.zFfAHb:hover {
    color: #666 !important;
    border: 1px solid #101010;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #101010;
}
.fXuRkd {
    background-color: #000 !important;
}

/* classwork assignment white lines in middle */

.lXuxY .O9YpHb {
    border-color: #101010;
}
.lXuxY .u73Apc {
    border-bottom: #101010;
}
.lXuxY .grsMub {
    color: #aaa;
}
.ndcsBf .u73Apc {
    border-color: #000;
}

/* Classwork content fix bottom white line */ 

.EE538 > .eqqrO {
    border-top: 1px solid #101010;
}
.ysL59 {
    display: none;
}
.kpDQ8.CMmBPd {
    border-top: 1px solid #101010 !important;
}
.eqqrO {
    border-top: none !important;
}
/* icons */

.NMm5M {
    color: #aaa !important;
}

/* add or create */

.cd29Sd {
    border: 1px solid #101010;
    border-bottom: 2px solid #101010;
}
.DShyMc-MTI5OTUwOTUwOTUw .DqwBN:not(.RDPZE), .DShyMc-MTI5OTUwOTUwOTUw .l3F1ye:not(.RDPZE), .DShyMc-MTI5OTUwOTUwOTUw .BEAGS:not(.RDPZE), .DShyMc-MTI5OTUwOTUwOTUw .AeAAkf:not(.RDPZE) {
    color: #aaa;
}
.BiaLW .rpo4wf {
	color: #aaa;
}
.BiaLW .YVvGBb span {
	color: #aaa;
}

/* Private Comments */

.BiaLW .REFDH {
	color: #aaa;
}

/* Points */

.asQXV .YVvGBb div {
	color: #999;
}

/* Mark as done */

.Y5sE8d {
    color: #000 !important;
}

/* email link */

.VSWCL a {
    color: #888;
}

/* upcoming text */

.oBSRLe {
    color: #aaa;
}
.WMQb5e > div {
    color: #aaa !important;
}

/* links */

a {
    color: #888 !important;
}

/* share something with your class */

.K6Ovqd {
    color: #aaa;
}

/* Loading Bar */

.kRqvHe.bFjUmb-Ysl7Fe {
	background-color: #000 !important;
}
.DShyMc-MTQxMDE2NjgzNDE5.bFjUmb-Wvd9Cc, .DShyMc-MTQxMDE2NjgzNDE5 .bFjUmb-Wvd9Cc, .DShyMc-MTQxMDE2NjgzNDE5.CNpREd.bFjUmb-Wvd9Cc, .DShyMc-MTQxMDE2NjgzNDE5.CNpREd .bFjUmb-Wvd9Cc {
    background-color: blue;
}
.DShyMc-AaTFfe .bFjUmb-Ysl7Fe {
	background-color: #000 !important;
}

/* Comments popup */

.qRUolc {
	background-color: #aaa;
	border: 1px solid #222;
}
.fb0g6 .Q8U8uc {
	background-color: #aaa;
	border: 1px solid #222;
	border-top: none;
	padding-top: 10px;
}
.Shk6y {
	color: #555;
}

/* other */

.ksaOtd {
    color: #aaa;
}
.nmFHZb {
    color: #aaa !important;
}
.etFl5b .QRiHXd {
	color: #000;
	text-decoration: underline;
}
.fb0g6 {
	background-color: #050505;
	border: 1px solid #222;
	border-top: none;
}
.qj5L0 {
	color: #aaa;
	padding-top: 20px;
}
.qj5L0 {
	border-color: #555;
}
.J9fJmf {
	background-color: #050505;
	border: 1px solid #222;
	border-top: none;
}
.evJWRb.M9Bg4d .snByac {
	color: #aaa;
}
.VnOHwf-Tvm9db .NjE5zd {
	color: #aaa;
}
.rbygle path {
	color: #000;
}
.BiaLW .Gh0umc.CG2qQ {
	border-top: 1px solid #111 !important;
}
.zZ8fDe {
	color: #aaa;
	padding-top: 10px;
	padding-bottom: 10px;
}
.qRUolc {
	background-color: #050505 !important;
	color: #aaa;
}
.Shk6y {
	color: #aaa !important;
}
.PeGHgb .bFjUmb-Ysl7Fe {
	background-color: #000;
}


/* ==== Class Header ==== */

.PagUde {
	background-image: none !important;
}
.qyN25 {
	background-color: #050505;
	border: 1px solid #222;
	border-radius: 10px;
}
.etFl5b .QRiHXd {
	color: #ccc !important
}
.rbygle path {
	color: #ccc !important;
}
.v9TZ3c {
	background-color: #050505 !important;
	border-right: 1px solid #222;
	border-radius: 10px;
}
.PFLqgc {
	background-image: none !important;
}
.KFl4Z {
	background: none !important;
}
}
