/* ==UserStyle==
@name           PastebinDark
@version        2.0.0
@description    Night mode for pastebin.com
@author         Psykek/PrototypeChicken
@namespace      github.com/Psykek66/UserCSS
@homepageURL    https://github.com/Psykek66/UserCSS/blob/master/PastebinDark.user.css
@updateURL      https://raw.githubusercontent.com/Psykek66/UserCSS/master/PastebinDark.user.css
==/UserStyle== */


@-moz-document url-prefix("https://pastebin.com/") {
.-cookies {
	background-color: #000 !important;
	color: #aaa;
}
.js-close-cookies {
	background-color: #101010 !important;
	border: 1px solid #333 !important;
	box-shadow: none !important; 
}
.-pro {
	background-color: #000 !important;
	color: #aaa !important;
}
.pro-promo-text {
	color: #aaa !important;
}
.-cookies a {
	color: red;
}
.pro-promo-text b {
	color: red;
}
.pro-promo-img {
	filter: invert(1);
}
.js-close-pro-guest {
	filter: invert(.5);
}
.header {
    background: #000 -webkit-gradient(linear,left top,left bottom,from(#000),to(#000));
    background: #000 linear-gradient(#000,#000);
}
.wrap {
	background-color: #202020;
}
.wrap > .container {
	background-color: #101010;
	border-color: #000;
	color: #aaa;
}
.js-paste-code, .textarea {
	background-color: #202020;
	color: #aaa;
	border-color: #000;
}
.-no-border {
	color: #aaa;
}
.-paste {
	color: #aaa;
	border-color: #333;
	border-bottom: 1px solid #333;
}
.post-form__right {
	border-color: #333;
	border-bottom: 1px solid #333;
}
.sidebar__title a {
	color: #aaa;
}
.sidebar__menu a {
	color: #ccc;
}
.sidebar__menu a:hover {
	text-decoration: underline;
}
.sidebar__menu li {
	border-color: #333;
}
.sign-up {
	background-color: #202020 !important;
	color: #aaa !important;
	border: 1px solid #333 !important;
}
.sign-in {
	background-color: #202020 !important;
	color: #aaa !important;
	border: 1px solid #333 !important;
}
.post-form__avatar {
	border-color: #333;
}
.post-form__avatar img {
	background-color: #333 !important;
}
.post-form__sign .btn {
	background-color: #202020 !important;
	color: #aaa !important;
	border: 1px solid #333 !important;
}
.-big {
	background-color: #202020 !important;
	color: #aaa !important;
	border: 1px solid #333 !important;
}
.-hot {
	background-color: #202020 !important;
	color: #aaa !important;
	border: 1px solid #333 !important;
	border-left: 8px solid #333 !important;
}
.-post-form {
	background-color: #202020 !important;
	color: #aaa !important;
	border: 1px solid #333 !important;
	border-left: 8px solid #333 !important;
}
.-post-form a {
	color: #fff;
	text-decoration: underline;
}
.cd-is-visible {
	background-color: #000;
	color: #aaa;
}
.select2.select2-container--default .select2-selection--single {
    background-color: #202020;
    border: 1px solid #333;
    border-radius: 3px;
	color: #aaa !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #aaa;
}
.field-postform-name .form-control {
	background-color: #202020 !important;
	border: 1px solid #333 !important;
	color: #aaa !important;
	caret-color: #aaa !important;
}
.-hot a {
	color: #fff;
	text-decoration: underline;
}
ul {
    background-color: #151515;
    color: #aaa;
    border: 1px solid #000;
}
.sidebar {
    display: none;
}
.footer {
    background-color: #000;
    border-color: #333;
}
.top-footer {
    background-color: #000;
    border-color: #333;
}
.error-summary {
    background-color: #202020;
    border: 1px solid #333;
    border-radius: 3px;
	color: #aaa !important;
}
.error-summary li {
    background-color: #202020;
}
.error-summary ul {
    border: none;
}
.top-buttons {
    background-color: #202020 !important;
	color: #aaa !important;
	border: 1px solid #333 !important;
	border-left: 8px solid #333 !important;
}
.css {
    background-color: #202020 !important;
	color: #aaa !important;
}
.highlighted-code {
    border: none !important;
}
.de1 {
    background-color: #cfcfcf !important;
    color: #fff !important;
}
ol {
    filter: invert(.9);
}
.-post-view {
    background-color: #202020 !important;
	color: #aaa !important;
	border: 1px solid #333 !important;
	border-left: 8px solid #333 !important;
}
.-post-view a {
    color: #fff;
}
}
