/* ==UserStyle==
@name           SlitherDark
@version        1.0.0
@description    Night mode for slither.io
@author         Psykek/PrototypeChicken
@namespace      github.com/Psykek66/UserCSS
@homepageURL    https://github.com/Psykek66/UserCSS
@updateURL      https://raw.githubusercontent.com/Psykek66/UserCSS/master/SlitherDark.user.css
==/UserStyle== */


@-moz-document url-prefix("http://slither.io/") {
html {
    background-color: #000;
}
#logo canvas, #playh ,#bsk .nsi, #grqi, #csk .nsi, #psk .nsi, #nsk .nsi {
    filter: grayscale(100%)
}
#nick_holder {
    background-color: #202020 !important;
}
#nick {
    color: #999 !important;
    filter: grayscale(100%);
}
#playh .sadg1 .nsi {
    color: #000 !important;
}
#twt .nsi, #fb .nsi {
    display: none;
}
.lq2, #clq {
    color: #b3b3b3 !important;
}
body > .sadg1 .nsi {
    color: #000 !important;
    background-color: #707070;
    border: none !important;
}
#lastscore b, #tips {
    color: #999 !important;
}
}
